<div class="container" layout="row">
  <md-content class="md-padding">
    <div flex layout-margin>
      <div flex style="background-color: #ffc8fe" layout-margin hidden>
        <form name="userForm" novalidate flex="50">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="post.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>Title</label>
            <input ng-model="post.title">
          </md-input-container>
          <md-input-container flex>
            <label>Link</label>
            <input ng-model="post.link">
          </md-input-container>
          <md-input-container flex>
            <label>Upvote</label>
            <input ng-model="post.upvote" type="number">
          </md-input-container>
          <md-input-container flex>
            <label>Comment</label>
            <textarea ng-model="post.comment" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
          <md-input-container flex>

            <md-button type="submit" ng-class="mdButton" ng-model="post.comment">Validate</md-button>
          </md-input-container>
        </form>
      </div>

      <form class="thing-form">
        <label>Add a product in real time a show the result</label>

        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newUrl">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="createProduct()">Add New Product</button>
      </span>
        </p>
      </form>
    </div>
    <div flex="50" layout-margin>
      <!--md-card ng-repeat="item in allPosts" layout-margin>
        <md-content layout-margin>
          <h2 class="md-title">{{ item.name }}</h2>
        </md-content>
        <img ng-src="{{item.image}}" class="md-card-image" alt="{{ item.name }}">
        <md-card-content>
          <p class="md-item-text">Price : {{ item.prix }} €</p>
        </md-card-content>
      </-md-card-->
      <md-list>
        <md-subheader class="md-no-sticky">{{ allPosts.length }} Product item</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in allPosts track by item._id">
          <div class="md-list-item-text" layout-head>
            <a  href="{{ item.url }}" class="md-button btn-link">{{ item.url }}</a>
            <h4>{{ item.name }}</h4>
            <p>{{ item.prix }} €</p>
            <pre>{{ item | json}}</pre>
              <img ng-src="{{item.images}}" class="md-card-image" alt="{{img.name}}"/>
              <!--img ng-src="{{item.images['data-src-zoom']}}" class="md-card-image" alt="{{img.name}}"/>
              <img ng-src="{{item.images['data-lazyimage-background']}}" class="md-card-image" alt="{{img.name}}"/-->
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
  <div flex style="background-color: #ffc8fe" layout-margin hidden>
    <form name="userForm" novalidate flex="50">
      <md-input-container flex>
        <label>First name</label>
        <input ng-model="post.firstName">
      </md-input-container>
      <md-input-container flex>
        <label>Title</label>
        <input ng-model="post.title">
      </md-input-container>
      <md-input-container flex>
        <label>Link</label>
        <input ng-model="post.link">
      </md-input-container>
      <md-input-container flex>
        <label>Upvote</label>
        <input ng-model="post.upvote" type="number">
      </md-input-container>
      <md-input-container flex>
        <label>Comment</label>
        <textarea ng-model="post.comment" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
    </form>
  </div>
  <div flex style="background-color: #24ff76" layout-margin hidden>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">{{ allPosts.length }} Product item</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in allPosts">
          <!--img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /-->
          <div class="md-list-item-text">
            <h3>{{ item.url }}</h3>
            <h4>{{ item.name }}</h4>

            <p>{{ item.prix }}</p>

            <p>{{ item.image }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
<!--div style="background-color: #0000cc" layout="row" layout-margin>

</div>
<div style="background-color: #00d6b2" layout="column" flex="50">
  <pre flex>{{ post }}</pre>
</div-->

