<script type="text/ng-template" id="modal.html">
    <md-dialog aria-label="Liste de Posts" layout-padding flex="70">
        <md-toolbar layout-padding flex>
            <div class="md-toolbar-tools">
                <h2>Creer un post</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Liste de Posts">
                    <ng-md-icon layout-padding icon="close" style="fill: #888888"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <form name="postForm" ng-submit="postctrl.createPostForm(post)" novalidate>
            <md-input-container class="md-icon-float">
                <label for="title">title</label>
                <input type="text" md-maxlength="30" id="title" placeholder="title" name="title" ng-model="post.title"
                       required>
                <div ng-messages="postForm.$submitted || postForm.vote.$touched">
                    <div ng-show="postForm.vote.$error">This is required.</div>
                    <div ng-show="postForm.vote.$error">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float">
                <label for="vote">Vote</label>
                <input type="number" id="vote" placeholder="vote" name="vote" ng-model="post.vote" required>

                <div ng-messages="postForm.$submitted || postForm.vote.$touched">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float">
                <label for="comment">comment</label>
                <input type="text" id="comment" placeholder="comment" name="comment" ng-model="post.comment" required>
                <div ng-messages="postForm.$submitted || postForm.comment.$touched">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon" required>

                <button type="submit" class="btn btn-default" ng-disabled="postForm.$invalid">Submit
                </button>
            </md-input-container>
            <div ng-messages="postctrl.productSelected">
                <div>{{ postctrl.productSelected.name }} : This is required.</div>
            </div>
        </form>
        <div class="md-actions">
            <md-button ng-click="cancel()">cancel</md-button>
            <span flex/>
            <md-button ng-click="hide()">close</md-button>
        </div>
    </md-dialog>
</script>
<div class="posts-container autoScroll" layout="layout-fill" layout-align="center">
    <md-content md-theme="docs-dark" class="posts" flex="50">
        <!--button ng-click="postctrl.showAdvanced($event)">open post form</button-->
        <div layout-padding ng-repeat="post in postctrl.allPosts | filter:productForm.search">
            <md-grid-list
                    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2" layout="row">
                <md-grid-tile class="gridProductItem"
                              md-rowspan="4" md-colspan="2" md-colspan-sm="1" flex="50">
                    <md-grid-tile-header>
                        <h3>{{ post.title }}</h3>
                    </md-grid-tile-header>
                    <md-content>
                        <img ng-src="{{post.product.images}}" class="item" alt="{{post.name}}">

                    </md-content>
                    <md-grid-tile-footer>
                        <h3>{{ post.link }}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-content>
    <md-content md-theme="docs-dark" class="products" flex="50 ">
        <aside layout-padding flex="33">
            <!--<form name="productForm" novalidate>
                <md-input-container class="md-icon-float" required>
                    &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                    <label>Search a product</label>
                    <input ng-model="productForm.search" type="text">

                    <div ng-messages="productForm.search.$error" ng-show="productForm.search.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                        <div ng-message="minlength">That's too short!</div>
                    </div>
                </md-input-container>
            </form>-->
            <md-list layout="column" layout-padding>
                <md-subheader class="md-no-sticky">Nouveaux produits</md-subheader>
                <md-list-item class="md-3-line product"
                              ng-repeat="product in postctrl.allProducts | filter:productForm.search">
                    <img ng-src="{{product.images}}" class="item" alt="{{product.name}}">

                    <div class="md-list-item-text" flex>
                        <h3>{{product.name}}</h3>
                        <h4>{{product.prix }}€</h4>

                        <p>{{product.url}}</p>
                    </div>
                    <div class="md-list-item-inner" flex>
                        <ng-md-icon layout-padding icon="delete" style="fill: #888888"></ng-md-icon>
                        <ng-md-icon layout-padding icon="edit" style="fill: #888888"></ng-md-icon>
                        <md-button ng-click="postctrl.takeProduct(product)">Choisir</md-button>
                    </div>
                    <div class="md-list-item-inner" flex>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </aside>
    </md-content>
</div>
