<div class="posts-container autoScroll" layout="layout-fill">
    <md-content md-theme="docs-dark" layout-padding class="products">
            <form name="productForm" novalidate>
                <md-input-container class="md-icon-float" required>
                    <!-- Use floating label instead of placeholder -->
                    <label>Search a product</label>
                    <input ng-model="productForm.search" type="text">

                    <div ng-messages="productForm.search.$error" ng-show="productForm.search.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                        <div ng-message="minlength">That's too short!</div>
                    </div>
                </md-input-container>
            </form>
            <md-list layout="column" layout-padding>
                <md-list-item class="md-3-line product" ng-repeat="product in postctrl.allProducts | filter:productForm.search">
                    <img ng-src="{{product.images}}" class="item" alt="{{product.name}}">

                    <div class="md-list-item-text">
                        <h3>{{product.name}}</h3>
                        <h4>{{product.prix }}€</h4>

                        <p>{{product.url}}</p>
                    </div>
                    <div class="md-list-item-inner">
                        <ng-md-icon layout-padding icon="delete" style="fill: #888888"></ng-md-icon>
                        <ng-md-icon layout-padding icon="edit" style="fill: #888888"></ng-md-icon>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
    </md-content>
</div>
