$backgroud-color:#e7e7e7;
.posts-container{
  background-color: $backgroud-color;


  .products {
    box-sizing: border-box;
    margin: 2rem;
    //width: 33rem;
    //border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(136, 136, 136, 0.5);

    .product{
      padding: unset;
      margin-right: 16px;
    }
    .md-icon-float {
      fill: #e7e7e7;
    }
  }
  .item{
    max-width: 91px;
    max-height: 91px;
    box-sizing: border-box;
    background-color: $backgroud-color;
    margin-right: 10px;
  }
}




